* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    min-height: 100vh;
    background-color: #282828;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 100px;
    background: seagreen;
    display: flex;
    justify-content: center;
}

.navbar a{
    margin: 0 50px;
    color: aliceblue;
    font-size: 18px;
    font-weight: 100;
    text-decoration: none;

}